<div class="jumbotron">
  <div class="container">
    <div class="well well-sm">
<%= @booking.user.firstname %>
<br>
<%= @booking.user.email %>
<br>
<% if @current_user.id != @booking.user_id %>
<form action="/requests/confirm" method="post">
  <input type="hidden" name="booking_id" value="<%= @booking.id %>">
  <input type="submit" class="btn btn-default btn-lg" value="confirm request">
</form>

<form action="/requests/deny" method="post">
  <input type="hidden" name="booking_id" value="<%= @booking.id %>">
  <input type="submit" class="btn btn-default btn-lg" value="deny request">
</form>
<% end %>
</div>
</div>
</div>
